networks:
  almena-network:
    driver: bridge

volumes:
  ipfs-node1-data:
    driver: local
  ipfs-node1-export:
    driver: local
  ipfs-cluster1-data:
    driver: local
  ipfs-node2-data:
    driver: local
  ipfs-node2-export:
    driver: local
  ipfs-cluster2-data:
    driver: local

services:

  autoconf-server:
    image: nginx:alpine
    container_name: autoconf-server
    hostname: autoconf-server
    volumes:
      - ./ipfs/nginx/config/autoconf.json:/usr/share/nginx/html/autoconf.json:ro
    ports:
      - "8088:80"
    networks:
      - almena-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/autoconf.json"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  ipfs-node1:
    image: ipfs/kubo:latest
    container_name: ipfs-node1
    hostname: ipfs-node1
    ports:
      - "8081:8080"
      - "4001:4001"
      - "5001:5001"
    environment:
      - IPFS_PROFILE=server
      - IPFS_WEBUI_PORT=5001
      - IPFS_WEBUI_VERSION=4.9.1
    volumes:
      - type: volume
        source: ipfs-node1-data
        target: /data/ipfs
      - type: volume
        source: ipfs-node1-export
        target: /export
      - type: bind
        source: ./ipfs/secrets/swarm.key
        target: /data/ipfs/swarm.key
        read_only: true
      - type: bind
        source: ./ipfs/scripts
        target: /container-init.d/
    networks:
      - almena-network
    depends_on:
      autoconf-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "ipfs", "id"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
      
  ipfs-node2:
    image: ipfs/kubo:latest
    container_name: ipfs-node2
    hostname: ipfs-node2
    ports:
      - "8181:8080"
      - "4101:4001"
      - "5101:5001"
    environment:
      - IPFS_PROFILE=server
      - IPFS_WEBUI_PORT=5101
      - IPFS_WEBUI_VERSION=4.9.1
    volumes:
      - type: volume
        source: ipfs-node2-data
        target: /data/ipfs
      - type: volume
        source: ipfs-node2-export
        target: /export
      - type: bind
        source: ./ipfs/secrets/swarm.key
        target: /data/ipfs/swarm.key
        read_only: true
      - type: bind
        source: ./ipfs/scripts
        target: /container-init.d/
    networks:
      - almena-network
    depends_on:
      autoconf-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "ipfs", "id"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
      
  ipfs-cluster1:
    image: ipfs/ipfs-cluster:latest
    container_name: ipfs-cluster1
    hostname: ipfs-cluster1
    ports:
      - "9094:9094"
      - "9095:9095"
    environment:
      CLUSTER_PEERNAME: cluster1
      CLUSTER_SECRET: b7d8943d0e27e55abab4afd1fc94bde76d0ec47d566617732761cf2f4a5174fb # From shell variable if set
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs-node1/tcp/5001
    volumes:
      - type: volume
        source: ipfs-cluster1-data
        target: /data/ipfs-cluster
    networks:
      - almena-network
    depends_on:
      ipfs-node1:
        condition: service_healthy

  ipfs-cluster2:
    image: ipfs/ipfs-cluster:latest
    container_name: ipfs-cluster2
    hostname: ipfs-cluster2
    ports:
      - "9194:9094"
      - "9195:9095"
    environment:
      CLUSTER_PEERNAME: cluster2
      CLUSTER_SECRET: b7d8943d0e27e55abab4afd1fc94bde76d0ec47d566617732761cf2f4a5174fb # From shell variable if set
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs-node2/tcp/5001
    volumes:
      - type: volume
        source: ipfs-cluster2-data
        target: /data/ipfs-cluster
    networks:
      - almena-network
    depends_on:
      ipfs-node2:
        condition: service_healthy
