networks:
  almena-network:
    driver: bridge

volumes:
  ipfs-bootstrap-data:
    driver: local
  ipfs-node1-data:
    driver: local
  ipfs-node1-export:
    driver: local
  ipfs-cluster1-data:
    driver: local
  ipfs-node2-data:
    driver: local
  ipfs-node2-export:
    driver: local
  ipfs-cluster2-data:
    driver: local
  geth-bootnode-root:
    driver: local
  geth-bootnode-data:
    driver: local
  prometheus-data:
    driver: local
  grafana-data:
    driver: local

services:

  autoconf-server:
    image: nginx:alpine
    container_name: autoconf-server
    hostname: autoconf-server
    profiles:
      - bootstrap
    volumes:
      - ./ipfs/nginx/config/autoconf.json:/usr/share/nginx/html/autoconf.json:ro
    ports:
      - "8088:80"
    networks:
      - almena-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/autoconf.json"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  ipfs-bootstrap:
    image: ipfs/kubo:latest
    container_name: ipfs-bootstrap
    hostname: ipfs-bootstrap
    profiles:
      - bootstrap
    volumes:
      - type: volume
        source: ipfs-bootstrap-data
        target: /data/ipfs
      - type: bind
        source: ./ipfs/secrets/swarm.key
        target: /data/ipfs/swarm.key
        read_only: true
      - type: bind
        source: ./ipfs/scripts/bootstrap
        target: /container-init.d/
    networks:
      - almena-network
    depends_on:
      autoconf-server:
        condition: service_healthy

  ipfs-node1:
    image: ipfs/kubo:latest
    container_name: ipfs-node1
    hostname: ipfs-node1
    profiles:
      - nodo1
      - nodo
    ports:
      - "8081:8080"
      - "4001:4001"
      - "5001:5001"
    environment:
      - IPFS_WEBUI_PORT=5001
      - IPFS_WEBUI_VERSION=4.9.1
    volumes:
      - type: volume
        source: ipfs-node1-data
        target: /data/ipfs
      - type: volume
        source: ipfs-node1-export
        target: /export
      - type: bind
        source: ./ipfs/secrets/swarm.key
        target: /data/ipfs/swarm.key
        read_only: true
      - type: bind
        source: ./ipfs/scripts/worker
        target: /container-init.d/
    networks:
      - almena-network
    healthcheck:
      test: ["CMD", "ipfs", "id"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
      
  ipfs-node2:
    image: ipfs/kubo:latest
    container_name: ipfs-node2
    hostname: ipfs-node2
    profiles:
      - nodo2
      - nodo
    ports:
      - "8181:8080"
      - "4101:4001"
      - "5101:5001"
    environment:
      - IPFS_WEBUI_PORT=5101
      - IPFS_WEBUI_VERSION=4.9.1
    command: daemon --migrate=true --agent-version-suffix=docker
    volumes:
      - type: volume
        source: ipfs-node2-data
        target: /data/ipfs
      - type: volume
        source: ipfs-node2-export
        target: /export
      - type: bind
        source: ./ipfs/secrets/swarm.key
        target: /data/ipfs/swarm.key
        read_only: true
      - type: bind
        source: ./ipfs/scripts/worker
        target: /container-init.d/
    networks:
      - almena-network
    healthcheck:
      test: ["CMD", "ipfs", "id"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
      
  ipfs-cluster1:
    image: ipfs/ipfs-cluster:latest
    container_name: ipfs-cluster1
    hostname: ipfs-cluster1
    profiles:
      - cluster1
      - cluster
    ports:
      - "8888:8888"
      - "9094:9094"
      - "9095:9095"
    environment:
      CLUSTER_PEERNAME: cluster1
      CLUSTER_SECRET: ${CLUSTER_SECRET} # From shell variable if set
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs-node1/tcp/5001
      CLUSTER_METRICS_ENABLESTATS: true
      CLUSTER_METRICS_PROMETHEUSENDPOINT: /ip4/0.0.0.0/tcp/8888
      CLUSTER_TRACING_ENABLETRACING: false
    volumes:
      - type: volume
        source: ipfs-cluster1-data
        target: /data/ipfs-cluster
    networks:
      - almena-network

  ipfs-cluster2:
    image: ipfs/ipfs-cluster:latest
    container_name: ipfs-cluster2
    hostname: ipfs-cluster2
    profiles:
      - cluster2
      - cluster
    ports:
      - "8988:8888"
      - "9194:9094"
      - "9195:9095"
    environment:
      CLUSTER_PEERNAME: cluster2
      CLUSTER_SECRET: ${CLUSTER_SECRET} # From shell variable if set
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs-node2/tcp/5001
      CLUSTER_METRICS_ENABLESTATS: true
      CLUSTER_METRICS_PROMETHEUSENDPOINT: /ip4/0.0.0.0/tcp/8888
      CLUSTER_TRACING_ENABLETRACING: false
    volumes:
      - type: volume
        source: ipfs-cluster2-data
        target: /data/ipfs-cluster
    networks:
      - almena-network

  geth-bootnode:
    image: ethereum/client-go:stable
    container_name: geth-bootnode
    hostname: geth-bootnode
    profiles:
      - bootstrap2
    ports:
      - "30301:30301/udp"
    environment:
      GETH_NODEKEY: /root/nodekey
      GETH_NODISCOVER: true
      GETH_IPCDISABLE: true
    volumes:
      # - type: bind
      #   source: ./geth/genesis.json
      #   target: /genesis.json
      - type: bind
        source: ./geth/nodekey
        target: /root/nodekey
      - type: volume
        source: geth-bootnode-root
        target: /root/.ethereum
    networks:
      - almena-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    profiles:
      - monitor
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - type: volume
        source: prometheus-data
        target: /prometheus
      - type: bind
        source: ./grafana/prometheus.yml
        target: /etc/prometheus/prometheus.yml
    networks:
      - almena-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    hostname: grafana
    profiles:
      - monitor
    restart: unless-stopped
    volumes:
      - type: volume
        source: grafana-data
        target: /var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    networks:
      - almena-network
